/*
PureTones - Developed by Sadharani - www.sadharani.com
Copyright 2020 Sadharani Music Works
*/

.tablecontainer {
    margin: 0 auto;
    padding: 0.1em;
    overflow-x: auto;
    max-width: 80%;
}

table {
    border-color: #404047;
    border-width: 0px;
}

tr, td {
    padding: 0.1em 0.3em;
    border-color: #404047;
    border-width: 0px;
    box-shadow: 0px 0px 1px #404047;
}

.trheader {
    font-weight: bold;
    background-color: #e6e6eb;
    color: #333366;
}

.tralt {
    background-color: #e6e6eb;
    color: #404047;
}

.tremph {
    background-color: #ffffff;
    color: #404047;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

li {
    position: relative;
}

.key {
    position: relative;
    width: 11vmin;
    height: 33vmin;
    border: 1px solid black;
    background: ivory;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    font-weight: bold;
}

.blackkey {
    position: absolute;
    top: -1px;
    left: 6.875vmin;
    width: 8.25vmin;
    height: 22vmin;
    background: #282c34;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 333;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    color: white;
}

.keyhidden {
    visibility: hidden;
}

.keyfaint {
    opacity: 0.5;
    cursor: default;
}

.graykeyleft {
    position: absolute;
    top: -1px;
    left: -1.833vmin;
    width: 9.167vmin;
    height: 25.667vmin;
    background: #bec0b8;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    font-weight: bold;
}

.graykeyright {
    position: absolute;
    top: -1px;
    left: 3.667vmin;
    width: 9.167vmin;
    height: 25.667vmin;
    background: #bec0b8;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    font-weight: bold;
}

.dgraykeyright {
    position: absolute;
    top: -1px;
    left: 5.5vmin;
    width: 7.333vmin;
    height: 18.333vmin;
    background: #484c50;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 444;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    color: white;
}

.dgraykeyleft {
    position: absolute;
    top: -1px;
    left: -2.667vmin;
    width: 7.333vmin;
    height: 18.333vmin;
    background: #484c50;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 444;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    color: white;
}

.dblackkey {
    position: absolute;
    top: -1px;
    left: 3.667vmin;
    width: 7.333vmin;
    height: 11vmin;
    background: #282c34;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #303030;
    cursor: pointer;
    z-index: 555;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vmin;
    color: white;
}