/*
PureTones - Developed by Sadharani - www.sadharani.com
Copyright 2020 Sadharani Music Works
*/

.tablecontainer {
    margin: 0 auto;
    padding: 0.1em;
    overflow-x: auto;
    max-width: 80%;
}

table {
    border-color: #404047;
    border-width: 0px;
}

tr, td {
    padding: 0.1em 0.3em;
    border-color: #404047;
    border-width: 0px;
    box-shadow: 0px 0px 1px #404047;
}

.trheader {
    font-weight: bold;
    background-color: #e6e6eb;
    color: #333366;
}

.tralt {
    background-color: #e6e6eb;
    color: #404047;
}

.tremph {
    background-color: #ffffff;
    color: #404047;
}

.keyboard {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

li {
    position: relative;
}

.key {
    position: relative;
    width: 11vw;
    height: 33vw;
    border: 1px solid black;
    background: #fefef0;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
    font-weight: bold;
}

.blackkey {
    position: absolute;
    top: -1px;
    left: 6.875vw;
    width: 8.25vw;
    height: 22vw;
    background: black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 333;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
    color: white;
}

.keyhidden {
    visibility: hidden;
}

.graykeyleft {
    position: absolute;
    top: -1px;
    left: -1.833vw;
    width: 9.167vw;
    height: 25.667vw;
    background: #c2c2b0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
    font-weight: bold;
}

.graykeyright {
    position: absolute;
    top: -1px;
    left: 3.667vw;
    width: 9.167vw;
    height: 25.667vw;
    background: #c2c2b0;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
    font-weight: bold;
}

.dgraykeyright {
    position: absolute;
    top: -1px;
    left: 5.5vw;
    width: 7.333vw;
    height: 18.333vw;
    background: #303030;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #666666;
    cursor: pointer;
    z-index: 444;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
    color: white;
}

.dblackkey {
    position: absolute;
    top: -1px;
    left: 3.667vw;
    width: 7.333vw;
    height: 11vw;
    background: black;
    border-radius: 5px;
    box-shadow: 0px 3px 5px #303030;
    cursor: pointer;
    z-index: 555;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2vw;
    color: white;
}